<div class="container">
	<div class="col center-block p-3">
		<h1>Friends</h1>
	</div>
	<div class="col-md-12 text-center mb-3">
		<%= link_to "<button class='btn btn-primary'>Add more friends! 😄🎉</button>".html_safe, users_path %>
	</div>
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h2 class="p-3 text-center">Followers <%= @followers.count %></h2>
			<% @followers.each do |f| %>
				<div class="card p-1">
				  <div class="card-body row p-2">
			  		<div class="col-sm-3 p-2 text-center">
						<%= image_tag f.image, class:"img-fluid rounded-circle mx-auto d-block", width:"90px" %>
					</div>
					<div class="col-sm-7 p-1">
						<div class="col-sm-12 p-1 mr-1">
					    	<h6 class="card-title"><%= f.username %></h6>
					    	<p class="card-text m-0"><%= f.name %></p>
					    	<p class="hour"><%= "Joined Pidgeon #{time_ago_in_words(f.created_at)} ago" %></p>
					    </div>
					</div>
				    <div class="col-sm-2 p-1 text-center">
				    	<a href="#"><i class="icon ion-heart"></i></a>
					</div>
				  </div>
				</div>
			<% end %>
		</div>
		<div class="col-md-6 mx-auto">
			<h2 class="p-3 text-center">Following <%= @followings.count %></h2>
			<% @followings.each do |f| %>
				<div class="card p-1">
				  <div class="card-body row p-2">
			  		<div class="col-sm-3 p-2 text-center">
						<%= image_tag f.image, class:"img-fluid rounded-circle mx-auto d-block", width:"90px" %>
					</div>
					<div class="col-sm-7 p-1">
						<div class="col-sm-12 p-1 mr-1">
					    	<h6 class="card-title"><%= f.username %></h6>
					    	<p class="card-text m-0"><%= f.name %></p>
					    	<p class="hour"><%= "Joined Pidgeon #{time_ago_in_words(f.created_at)} ago" %></p>
					    </div>
					</div>
				    <div class="col-sm-2 p-1 text-center">
				    	<a href="#"><i class="icon ion-heart"></i></a>
					</div>
				  </div>
				</div>
			<% end %>
		</div>
	</div>
</div>